# Workspace configuration
engine-strict = true
shared-workspace-lockfile=true
prefer-frozen-lockfile = true
verify-store-integrity = true

# Delay fresh releases
minimumReleaseAge = 5 # allow packages after 5 minutes

# Peer dependencies
auto-install-peers=true
strict-peer-dependencies=false
