# Ignore generated proto TypeScript files
packages/babylon-proto-ts/src/**
packages/babylon-proto-ts/dist/**
packages/babylon-proto-ts/dist/generated/**

# Build outputs
**/dist/**

# Node modules
**/node_modules/**