.bbn-card-default {
  @apply bg-transparent border-secondary-strokeLight rounded-2xl border p-6;
}

.bbn-card-filled {
  @apply bg-secondary-highlight border-secondary-strokeLight rounded-2xl border p-6;
}