.bbn-chip {
  @apply text-accent-secondary inline-flex items-center justify-center bg-primary-contrast px-2.5 py-1;
  font-family: 'Px Grotesk';
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.4px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}
