.bbn-select-with-icon {
  @apply relative flex w-full cursor-pointer items-center rounded border bg-surface text-accent-secondary outline-none transition-all;
  padding: 17.5px 24px;

  &:focus-visible {
    @apply border-secondary-strokeDark;
  }

  &-content {
    @apply mr-2 flex min-w-0 flex-grow items-center gap-3;
  }

  &-image {
    @apply flex flex-shrink-0 items-center justify-center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    overflow: hidden;

    & > * {
      max-width: 100%;
      max-height: 100%;
      width: 32px;
      height: 32px;
    }
  }

  &-text {
    @apply block truncate text-accent-primary;
    font-family: "Px Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
  }

  &-arrow {
    @apply flex-shrink-0 transition-transform;
    color: white;

    &-open {
      @apply rotate-180;
    }
  }

  &-menu {
    @apply z-[9999] max-h-60 overflow-auto rounded border-0 bg-surface py-1 shadow-lg;
  }

  &-option {
    @apply flex cursor-pointer items-center gap-3 px-4 py-3 text-accent-secondary transition-colors hover:bg-accent-secondary/5;

    &-selected {
      @apply bg-accent-secondary/5;
    }

    &-focused {
      @apply bg-accent-secondary/10;
    }

    &-image {
      @apply flex flex-shrink-0 items-center justify-center;
      width: 32px;
      height: 32px;
      min-width: 32px;
      min-height: 32px;
      max-width: 32px;
      max-height: 32px;
      overflow: hidden;

      & > * {
        max-width: 100%;
        max-height: 100%;
        width: 32px;
        height: 32px;
      }
    }

    &-text {
      @apply block truncate;
      font-family: "Px Grotesk", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.15px;
    }
  }

  &-disabled {
    @apply pointer-events-none cursor-not-allowed opacity-50;
  }

  &-default {
    @apply border-transparent;
  }

  &-error {
    @apply border-error-main;
  }

  &-warning {
    @apply border-warning-main;
  }

  &-success {
    @apply border-success-main;
  }
}
