NEXT_PUBLIC_MEMPOOL_API=https://mempool.signet.babylonlabs.io
NEXT_PUBLIC_API_URL=https://staking-api.canon-devnet.babylonlabs.io

# ETH Wallet Configuration
NEXT_PUBLIC_ETH_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_NETWORK=localhost

S3_PUBLIC_BUCKET=devnet-build-artifacts
NEXT_PUBLIC_REOWN_PROJECT_ID=e3a2b903ffa3e74e8d1ce1c2a16e4e27
NEXT_PUBLIC_VAULT_PROVIDER_URL=https://btc-vault-api.vault-devnet.babylonlabs.io
NEXT_PUBLIC_VAULT_API_URL=https://vault-indexer-api.vault-devnet.babylonlabs.io

# Trustless Bitcoin Vault (TBV) Contracts
NEXT_PUBLIC_TBV_BTC_VAULTS_MANAGER=0x7390fD5a5FAd260929F6305d2D17b4EA4494D3a0
NEXT_PUBLIC_TBV_VAULT_CONTROLLER=0x6CA6368d3043E14DeeB2E920094b6074f08DdFD8
NEXT_PUBLIC_TBV_BTC_VAULT=0x12ed36F494B705fef9cE31B184e712B86f0Bfd4e
NEXT_PUBLIC_TBV_MORPHO=0x1b832639E0b87bEf28755F5086831deE9671313f